<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hair Salon</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Hair Salon</h1>
      </div>
    </div>
    <div class="container">
      #parse($template)
    </div>
  </body>
</html>
